@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>


@foreach (var Job in Model)
{
    <div class="job-@Job.JobId">
        <h2>@Job.Title</h2>
        <p>@Job.Description</p>

        @if (Job.Worker == null)
        {
            <p class="is-claimed">
                This job is unclaimed.
                <button class="claim-job" value="@Job.JobId">Claim</button>
            </p>
        }
        else
        {
            <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>
        }

        <hr />
    </div>
}


